<div id="article">
    <div class="article-title">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="article-information">
        <em><a href="#author">{{ page.author }}</a> 创作于 {{ page.date | date: "%Y-%m-%d" }}</em>
        {% if page.tagline %}<small>{{ page.tagline }}</small>{% endif %}
    </div>

    <div class="separator size-1"></div>

    {% include themes/tinylab/partials/content/mobile_toc.html %}

    <div class="article-content">
        {{ content }}
    </div>

    <div class="separator size-1"></div>

    <div class="article-information">
        <div class="space size-0"></div>
        <div class="article-category">
            {% unless page.categories == empty %}
            <ul>
                <li><i class="fa fa-folder"></i></li>
                {% assign categories_list = page.categories %}
                {% include JB/categories_list %}
            </ul>
            {% endunless %}
        </div>
        <div class="article-tag">
            <ul class="tag-box inline">
                <li><i class="fa fa-tag"></i></li>
                {% assign tags_list = page.tags %}
                {% include JB/tags_list %}
            </ul>
        </div>
    </div>

    <div class="separator size-1" style="background-color: #cacaca"></div>

    {% if page.license != false %}
        <div class="article-license">
            <p>本作品由 <a href="#author">{{ page.author }}</a> 创作，采用 <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" title="查看协议详细信息" target="_blank">CC BY-NC-SA 4.0 许可协议</a> 进行许可。</p>
        </div>
    {% endif %}

    <div class="separator size-1" style="background-color: #cacaca"></div>

    <div class="article-sponsor">
        {% include themes/tinylab/partials/content/sponsor.html %}
    </div>

    <div class="separator size-1" style="background-color: #cacaca"></div>

    <div class="article-pagination" align="center">
        <ul>
            {% assign title_length = site.JB.posts.title_length %}
            {% if page.previous %}
                <li>
                    <a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">
                        <i class="fa fa-angle-left"></i> {{ page.previous.title | truncate: title_length, '...'  }}
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">
                        <i class="fa fa-angle-left"></i> 上一页
                    </a>
                </li>
            {% endif %}

            <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">所有文章</a></li>

            {% if page.next %}
                <li>
                    <a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">
                        {{ page.next.title | truncate: title_length, '...'  }} <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">
                        下一页 <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>

<div id="article_comments">
    {% include JB/comments %}
</div>