<table>
    <tr>
        <td style="text-align:center;">微信公众号</td>
        <td style="width: 150px">{{ contact_info }}</td>
        <td style="text-align:center;">新浪微博</td>
    </tr>
    <tr>
        <td style="text-align:center;">
            <img alt="tinylab-org" src='/images/wechat/tinylab-org.jpg' style="width: 110px" />
        </td>
        <td style="text-align:center;"><b>扫一扫<br/><br/>关注 @泰晓科技</b></td>
        <td style="text-align:center;">
            <img alt="tinylaborg" src='/images/weibo/tinylaborg.jpg' style="width: 110px" />
        </td>
    </tr>
</table>