#article {
    .article-title {
        h1 {
            font-size: 2.2rem;
            line-height: 3rem;
        }
    }

    .article-content {

        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 2.2rem;
            color: #e43d37;
        }

        h3 {
            font-size: 1.8rem;
            color: #5fb84a;
        }

        h4 {
            font-size: 1.4rem;
            color: #4587c7;
        }

        h5 {
            font-size: 1.2rem;
            color: #eb6458;
        }

        h6 {
            font-size: 1rem;
        }

        p, a {
            font-size: 1.6rem;
        }

        sup {
            font-size: 1.2rem;
        }

        li {
            line-height: 2.6rem;
        }

        img {
            max-width: 100%;
        }

        aside {
            float: right;
            clear: both;
            width: 50%;
            margin-left: 1rem;
            margin-bottom: 1rem;
            border-left: 1px solid grey;
            padding-left: 1rem
        }

        blockquote p {
            text-indent: 0 !important;
            white-space: pre-wrap;
            /* css-3 */
            white-space: 0 !important;
            /* Mozilla, since 1999 */
            white-space: 0;
            /* Opera 4-6 */
            white-space: 0;
            /* Opera 7 */
            word-wrap: break-word;
            /* ie */
            overflow: hidden
        }
    }

    .article-information {
        .article-group, .article-category, .article-tag, .article-album {
            margin: 5px 0;
            padding-right: 0;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    display: inline;
                    line-height: 3rem;

                    a {
                        font-size: 1.3rem;
                        color: #363d48;
                        background-color: #e4e4e4;
                        padding: 2px 10px;
                        margin: 5px;

                        span {
                            vertical-align: super;
                            font-size: 1rem;
                        }
                    }

                    a:hover {
                        color: #aaaaaa;
                    }

                    i {
                        font-size: 100%;
                    }
                }
            }
        }
    }

    .article-pagination {
        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline;
                margin-left: 10px;
                margin-right: 10px;

                i {
                    margin-bottom: 7px;
                }

                a {
                    color: #333333;
                    font-size: 1.5rem;
                }

                a:hover {
                    color: #aaaaaa;
                }

                &.disabled {
                    a {
                        color: #e4e4e4;
                    }
                }
            }
        }
    }

    table {
        width: 100%;
        border: 1px solid #e5e5e5;
        font-size: 90%
    }

    th, td {
        padding: 10px;
        text-align: left;
        font-size: 90%;
        border: 1px solid #e5e5e5
    }

    tbody tr:nth-child(odd) {
        background-color: #f2f2f2
    }

    tbody tr:nth-child(even) {
        background-color: #fafafa
    }

    tbody tr:hover {
        background-color: #e5e5e5
    }

    .mobile-toc {
        display: none;

        background-color: #eeeeee;

        ul {
            list-style: none;
        }

        li {
            margin: 5px 0;
        }

        .toc-h3 {
           margin-left: 30px;
        }

        .toc-h4 {
            margin-left: 60px;
        }

        .toc-h5 {
            margin-left: 90px;
        }
    }

    .author-box-wrap {
        a {
            color: #333333;
            line-height: 3rem;
        }

        a:hover {
            color: #aaaaaa;
        }

        a i {
            font-size: 130%;
            margin: 5px;
        }

        .popover, .popover-title {
            border-radius: 0;
        }
    }

    @media screen and (max-width: 768px){
        .mobile-toc {
            display: block;
        }
    }
}