{% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
        {% assign previous_href = "/index.html" %}
    {% else %}
        {% assign previous_href = paginator.previous_page | prepend: "/page" %}
    {% endif %}
{% else %}
    {% if page.previous %}
        {% assign previous_href = BASE_PATH | append: page.previous.url %}
    {% else %}
        {% assign previous_href = "#" %}
    {% endif %}
{% endif %}

{% if paginator.next_page %}
    {% assign next_href = paginator.next_page | prepend: "/page" %}
{% else %}
    {% if page.next %}
        {% assign next_href = BASE_PATH | append: page.next.url %}
    {% else %}
        {% assign next_href = "#" %}
    {% endif %}
{% endif %}

<div class="float_box">
    <button id="float_button" class="float-button"><i class="fa fa-map-signs"></i></button>
    <div id="float_overlay" class="float-overlay"></div>

    <div id="float_wrapper" class="float-wrapper">
        <button class="float-action-button"><a href="{{ previous_href }}"><i class="fa fa-angle-left"></i></a></button>
        <button class="float-action-button"><a href="#top_wrap"><i class="fa fa-search"></i></a></button>
        <button class="float-action-button"><a href="/"><i class="fa fa-home"></i></a></button>
        <button class="float-action-button"><a href="{{ next_href }}"><i class="fa fa-angle-right"></i></a></button>
    </div>
</div>

<script type="text/javascript">
    $(function($) {

        var button = document.getElementById('float_button');
        var wrapper = document.getElementById('float_wrapper');
        var overlay = document.getElementById('float_overlay');

        //open and close menu when the button is clicked
        var open = false;
        button.addEventListener('click', handler, false);
        wrapper.addEventListener('click', cnhandle, false);

        function cnhandle(e) {
            e.stopPropagation();
        }

        function handler(e) {
            if (!e) var e = window.event;
            e.stopPropagation();//so that it doesn't trigger click event on document

            if (!open) {
                openNav();
            }
            else {
                closeNav();
            }
        }

        function openNav() {
            open = true;
            $('#float_overlay').addClass('on-overlay');
            $('#float_wrapper').addClass('opened-nav');
        }

        function closeNav() {
            open = false;
            $('#float_overlay').removeClass('on-overlay');
            $('#float_wrapper').removeClass('opened-nav');
        }

        document.addEventListener('click', closeNav);
    });
</script>