<div id="admin_wechat">
    <div class="panel panel-default">
        <div class="panel-heading row">
            <h3 class="panel-title column">加入我们</h3>
            <span class="pull-right clickable"><i class="fa fa-angle-up"></i></span>
            <!--<span class="pull-right clickable panel-collapsed"><i class="fa fa-angle-down"></i></span>-->
        </div>
        <div class="panel-body text-center">
            <p><strong>微信扫码</strong> 添加 <strong>泰晓管理员</strong></p>
            <img alt="lzufalcon" src="/images/wechat/lzufalcon.jpg" title="TinyLab Admin's Wechat">
        </div>
    </div>
</div>