<div id="join_us">
    <div class="panel panel-default">
        <div class="panel-heading row">
            <h3 class="panel-title column">加入我们</h3>
            <span class="pull-right clickable"><i class="fa fa-angle-up"></i></span>
            <!--<span class="pull-right clickable panel-collapsed"><i class="fa fa-angle-down"></i></span>-->
        </div>
        <div class="panel-body text-center">
            <p><strong>微信扫码 </strong>加入<strong> 泰晓原创团队</strong></p>
            <img src="/images/wechat/tinylab-weixin-group.jpg" title="TinyLab Wechat Group" width="168">
        </div>
    </div>
</div>