<div id="toc">
    <div class="panel panel-default">
        <div class="panel-heading row">
            <h3 class="panel-title column">内容列表</h3>
            <span class="pull-right clickable"><i class="fa fa-angle-up"></i></span>
            <!--<span class="pull-right clickable panel-collapsed"><i class="fa fa-angle-down"></i></span>-->
        </div>
        <div class="panel-body">

        </div>
    </div>
    <script>
        $(function($) {
            $('#toc .panel .panel-body').tocify({
                context: '#article',
                selectors: "h2, h3, h4, h5"
            });

            $('#toc').affix({
                offset: {
                    top:$('#toc').position().top
                }
            });

            $('#article_content').scrollspy({ target: $('#toc') });
        });
    </script>
</div>