#articles_list {
    .article {
        .article-title {
            h3 {
                font-size: 2.2rem;

                a:hover {
                    color:#aaaaaa;
                }
            }
        }

        .article-information {
            .article-time {
                margin: 5px 0;
                padding: 0;
            }

            .article-group, .article-category, .article-album {
                margin: 5px 0;
                padding-right: 0;

                a {
                    font-size: 1.3rem;
                    color: #798998;
                    padding: 2px 5px;
                }

                i {
                    font-size: 100%;
                    color: #798998;
                }

                a:hover {
                    color:#aaaaaa;
                }
            }
        }
    }
}

#articles_pagination {
    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline;
            margin-left: 10px;
            margin-right: 10px;

            i {
                margin-bottom: 5px;

            }

            a {
                color: #333333;
            }

            &.disabled {
                a {
                    color: #e4e4e4;
                }
            }
        }
    }
}


@media screen and (max-width: 768px){
    #articles_list {
        .article {
            .article-title {
                h3 {
                    font-weight: 600;
                    font-size: 15px;
                    margin: 5px 0;
                }
            }

            .article-information {
                .article-time {
                    float: right;
                    margin: -25px 0 0 0;
                    padding: 0;
                    font-size: 10px;
                }

                .article-group, .article-category, .article-album {
                    margin: 0;
                    padding: 0;

                    a {
                        font-size: 1.2rem;
                        padding: 0;
                    }

                    i {
                        padding-left: 3px;
                        font-size: 80%;
                    }
                }
            }

            .separator {
                margin: 0.5rem 0;
            }
        }
    }
}