#top_wrap {
    #navbar {
        box-shadow: 1px 1px 1px #aaaaaa;

        .navbar {
            border: none;
            border-radius: 0;

            .navbar-nav {

                a {
                    font-size: 1.5rem;
                    margin: 0 -3px;
                    text-align: center;
                }

                a:hover {
                    color: #eeeeee;
                }

                .active{
                    background-color: #171717;

                    a {
                        color: #ffffff;
                    }
                }
            }
        }

        .navbar-default .navbar-nav>.active>a,
        .navbar-default .navbar-nav>.active>a:focus,
        .navbar-default .navbar-nav>.active>a:hover {
            background-color: transparent;
        }

        @media screen and (min-width: 1024px){
            .navbar-header {
                width: 380px;
                height: 50px;
                background-size: contain;
                background-image: url('/assets/themes/tinylab/images/navbar-decoration.png');
            }
        }
    }
}